{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block pageHeader %}
About
{% endblock %}

{% block content %}

    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
            <br>
            <br>
            	<h2>Our Story</h2>
            	<p>This website is a system for collecting and reporting peer evaluations for teams.,<br>
            	The system will allow for users to register and sign in to create a peer evaluation.<br>
            	The user will be able to use the form provided and insert the scores for each of their team members. <br>
            	The data will be stored and collected for each team.<br> </p>
            	  <br>
            	  <br>
                <h2>Website Managed By:</h2>

            <div class="partners">
                <ul>
                    <li> Brian Saganey - bs366 <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="../../static/img/Brian.jpg" style="width: 64px; height: 64px"></a></li>
                    <li> Justin Liddicoat - jsl98 <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="../../static/img/jsl98.jpg" style="width: 64px; height: 64px"></a></li>
                    <li> Jarrin Oishi - jro65 <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="../../static/img/jro65.jpg" style="width: 64px; height: 64px"></a></li>
                    <li> Tsosie Schneider - ktaed <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="../../static/img/ktaed.jpg" style="width: 64px; height: 64px"></a></li>
                    <li> Eduardo Iniguez - EduardoIniguez <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="../../static/img/EduardoIniguez.jpg" style="width: 64px; height: 64px"></a></li>
                </ul>
            </div>
        </div><!--/.container-->
{% endblock %}
