{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block pageHeader %}
About
{% endblock %}

{% block content %}
<html>
    <head>
        <title> About</title>
    </head>
    <body>
        
        <p><h4>This website is a system for collecting and reporting peer evaluations for teams.
        The system will allow for users to register and sign in to create a peer evaluation.
        The user will be able to use the form provided and insert the scores for each of their team members.
        The data will be stored and collected for each team.</h4></p>
        
        <h2>Website Managed By:</h2>
        
        <dl>
            <dt>Brian Saganey</dt>
            <dt>Justin Liddicoat</dt>
            <dt>Jarrin Oishi</dt>
            <dt>Tsosie Schneider</dt>
            <dt>Eduardo Iniguez</dt>
        </dl>
        
    </body>
</html>
{% endblock %}
