{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block pageHeader %}
Contact / Feedback
{% endblock %}

{% block content %}
<!doctype html>
    <html>
        <head>
            <title>Contact Form</title>
            <meta charset="utf-8"/>
        </head>
        <body>
            <form method="post">
                <input name="mail" placeholder="Enter your email">
                    <br/>
                <input name="subject" placeholder="Subject">
                    <br/>
                <input name="name" placeholder="Enter your name">
                    <br/>
                <textarea name="message" style="height:100px; width:300px; weight=500px;" placeholder="Enter your message">
                    
                </textarea>
                <br/>
                <input type="submit" value="Send"/>
        </body>
</html>
{% endblock %}
